.group-analytics-layout {
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* right section */
.group-analytics-layout .right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.group-analytics-layout .right-section .inbound-calls {
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 45%;
  min-width: 420px;
}
.group-analytics-layout .right-section .calls-answered {
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 45%;
  min-width: 420px;
}

/* left section */
.group-analytics-layout .calls-flow-section {
  padding: 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 40%;
  min-width: 420px;
}
